.footer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer p {
    margin-bottom: 0.5rem;
}

.loggedInUser {
    font-weight: bold;
}

@media (min-width: 992px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
    }
}
