.joke {
    font-size: 1.5rem;
    margin: 0 0.5rem;
    padding: 2rem;
    background-image: url(../../../images/white-texture.jpg);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    flex: 0 1 45rem;
}

.content {
    margin-bottom: 2rem;
}

.source {
    text-align: right;
    font-size: 1.25rem;
}
