.jokes {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.jokesTop {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.jokesBottom {
    text-align: center;
}

.jokeCount {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.navButtonContainer {
    height: 3rem;
    flex: 0 0 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navButton {
    height: 2.5rem;
    width: 2.5rem;
}

.navButton svg {
    font-size: 2rem;
}
