.jokesTop {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.jokesBottom {
    text-align: center;
}

.jokeCount {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.navButtonContainer {
    height: 2rem;
    flex: 0 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navButton {
    height: 2rem;
    width: 2rem;
}

.navButton svg {
    font-size: 2rem;
}
