.header {
    display: flex;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
}

.logo {
    margin-right: 0;
    margin-bottom: 1rem;
    user-select: none;
}

@media (min-width: 992px) {
    .header {
        flex-direction: row;
    }

    .logo {
        margin-right: auto;
        margin-bottom: 0;
    }
}
