.control {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}

.control label,
.control input,
.control textarea {
    display: block;
}

.control label {
    font-weight: bold;
    color: #464646;
    margin-bottom: 0.5rem;
}

.control input,
.control textarea {
    font: inherit;
    padding: 0.35rem 0.35rem;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.control input:focus,
.control textarea:focus {
    outline: none;
}
